body{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    background-color:#59596D;    
}

   .sub-container{
    margin:0px auto;
    width:97%;
    height:190px;
    background-color:#D9D9D9;
    border-radius:2px;
    
   }
   .inner{
    
    padding-top:25px;
    text-align:center;
    margin:12px auto;
    width:100%;
    height:200px;
    padding-bottom:10px;
   }
   
   #btn{
    padding:8px 20px 8px 20px;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    text-transform:capitalize;
    margin-top:20px;
    pointer:cursor;
    border-style:solid;
    border-radius:3px;
    border-color:#59596D;
    outline:none;
    border-width:1px;
   }
   #btn:hover{
    
    background-color:#59596D;
    border-color:#59596D;
    color:white;
   }
   .main-heading{
    font-family: 'Lato', sans-serif;
    text-align:center;
    color:#ddd5d5;
    margin-bottom:20px;
    padding-top:30px;
   }
   .contain{
    height:200px;
    border-radius:3px;
   background-color: rgb(184, 124, 93);
    margin: 20px;
   }
  .contain ul{
      display: flex;
      list-style: none;
  padding-left: 40%;
  font-style: italic;
    }
    .contain li{
        padding-left: 20px;
        font-size: 35px;
    }
